<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>home page</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body style="background-color: bisque;">
    <h1>Services Page - HBS</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum atque architecto debitis? Porro, alias nobis fugiat obcaecati quae odio architecto! Corporis eum laudantium sapiente culpa, soluta quam facilis aut provident necessitatibus, iusto dolores at reiciendis unde quos quis repellat autem maiores suscipit quisquam quod sed, officiis delectus accusamus. Quos ipsa obcaecati consectetur. Consequatur dolorem sit reprehenderit, veritatis magni, dignissimos, possimus beatae ea nulla corrupti autem unde quo deleniti. Repudiandae ipsum aperiam iure voluptatem, officiis sed doloremque vitae corrupti aut culpa deleniti voluptates earum dignissimos quia autem quidem distinctio ea expedita molestiae, aspernatur excepturi possimus deserunt nihil minus. Aut, voluptate sit!</p>
</body>
</html>